.env
*.pyc
__pycache__/
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/
*.log
*.sqlite3
*.db
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
qdrant_database/
output/
*.pkl
*.pt
*.bin
wandb/
runs/
*.tex
*.log
*.md
qdrant_database/*
tests/
preprocess_codes/
.claude/
__pycache__
*.ipynb
test*
examples/
.cursor
supply_chain/data
supply_chain/result
*.sqlite
.gitignore